<table width=500px align=center style="text-align:center;"><tr><td>
	<h1 style="color:blue" >Preguntados</h1>
	<br/>
	<form action="/" method="get">
				<p>Fin del juego!</p>
				<input type="submit" name="reiniciar_juego" value= "Nueva Partida" align=center/> 
	</form>
	<br/>
</td></tr></table>
