<body background="/imagenes/home.png">
	<table width=500px align=center style="text-align:center; background-color: #D7DFE6B3; border-radius: 20px;">
		<tr>
			<td>
				<h1 style="color:blue" >Preguntados</h1>
				<br/>
				<form action="/preguntados" method="post">
					<p><b>Bienvenido a PREGUNTADOS!!! El juego para poner a prueba tus conocomientos...</b></p><br/>
					<p><b>El Juego consiste en contestar correctamente la mayor cantidad de preguntas posibles, cada respuesta correcta 
								suma 10 puntos y se restan 5 por cada incorrecta. Buena Suerte!</b></p><br/>
					<input type="submit" name="iniciar_juego" value= "Iniciar Juego" align=center/> 
				</form>
				<br/>
			</td>
		</tr>
	</table>
</body>

