<h1>Preguntados</h1>

<br/>
<form action="/evaluar_respuesta" method="post">
			<p>Pregunta:<%= @pregunta %></p><br/>
			<br/>
			<% @respuestas.each do |button| %>
			<input type="radio" name="opcion" value= "<%= button %>" id="<%= button %>"><%= button %><br/>
			<% end %>
			<input type="submit" value= "Contestar" /> 
</form>


