<table width=500px align=center style="text-align:center;"><tr><td>
	<h1 style="color:blue">Preguntados</h1>
<br/>

<form action="/preguntados" method="post">
			<p>Respuesta: <%= @resultado %></p><br/>
<table style="border: 1px solid #a53333;border-radius:5px;background-color:#f6d4d4; padding:0 15px;margin:auto;text-align:center;">
<tr><td>Puntaje</td></tr>
<tr><td><%= @@puntaje %></td></tr>
</table><br/>
			<input type="submit" value= "Nueva Pregunta" /> 
</form>

<br/>
</td></tr></table>

